.statContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
    width: 40vw;
    height: 4vh;
    min-width: 288px;
    /* 720 * 0.4 */
    min-height: 51.2px;
    /* 1280 * 0.04 */
}

.statText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: bold;
}

.sprite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    /* Ensure the sprite is behind the text */
}