.statContainer {
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
    width: 40vw;
    height: 4vh;
    min-width: 288px;
    min-height: 51.2px;
    position: relative;
    overflow: hidden;
}

.statText {
    color: white;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 16px;
}

.sprite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    isolation: isolate;
    display: block;
    object-fit: cover;
}